<%= form_with(model: board, class: 'board-form') do |form| %>
  <% if board.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>
      <ul>
        <% board.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label 'Board name', style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>
  <div>
    <%= form.label 'Board width', style: "display: block" %>
    <%= form.text_field :width, required: true %>
  </div>
  <div>
    <%= form.label 'Board height', style: "display: block" %>
    <%= form.text_field :height, required: true %>
  </div>
  <div>
    <%= form.label 'Number of gems', style: "display: block" %>
    <%= form.text_field :number_of_gems, required: true %>
  </div>
  <div>
    <%= form.label 'Your email', style: "display: block" %>
    <%= form.text_field :author_email, required: true %>
  </div>
  <div>
    <%= form.submit "Generate Board" %>
  </div>
<% end %>
